.container{
    width: 90%;
    height: 80%;
    background-color: transparent;
    border: 1px solid #000;
    position: relative;
    margin-top: 1.4rem;
    border-left: solid 1px rgb(236, 235, 235);
    border-top: solid 1px rgb(236, 235, 235);
}
.tab-container{
    width: 100%;
    position: absolute;;
    left: 0;
    margin-left: -1px;
    margin-top: -1.6rem;
}
.tab-nav{
    display: flex;
    align-items: center;
    width: 50%;
    border-top: rgb(236, 235, 235) solid 1px;
    /* border-bottom: 2px solid #fff; */
}
.tab{
    width: 40%;
    text-align: center;
    border-right: 1px solid #000;
    list-style-type: none;
    cursor: pointer;
}
.first{
    border-left: 1px solid rgb(236, 235, 235);
}
